/* Estilos CSS para deixar as sessões visualmente distintas 
 section {
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
      background: rgb(20, 20, 20);
}
  }
*/
/*============section1==============*/
body {
  background-color: black;
  overflow-x: none;
}

html {
  overflow-x: none;
}

.btn-1{
  background-color: #9D8F73;
  padding: 10px 6px;
  border-radius: 10px;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  max-width: 500px;
  margin-top: 20px;
  cursor: pointer;
}

.section1 {
  background-image: url("IMG/incial.jpg");
  background-size: cover;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.section1 div {
  margin-top: 280px;
}

.container1-section1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h4-1-section1{
  font-family: 'Oswald', sans-serif;
  font-size: 4vw;
  margin: 0;
}

.h4-2-section1{
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2vw;
  margin: 0;
}

.img-link{
  width: 24px;
  height: 16px;
  transform: rotate(-50deg);
}

.title-section1 {
  font-family: monospace;
  color: #f1f1f1;
  font-size: 4vw;
  text-align: center;
}

/* .comentario2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2vw;
  text-align: center;
  color: #f1f1f1;
  position: absolute;
  bottom: 36vh;
  left: 32vw;
} */

.link {
  font-size: 1.2em;
  font-weight: bold;
  color: #f1f1f1;
}

a {
  text-decoration: none;
}

.black-effect{
  height: 400px;
  position: absolute;
  background: linear-gradient(0deg, rgba(0,0,0,0) 100%, rgba(0,0,0,5) 0%);
  width: 100%;
  bottom: 0;
}

/*============section2==============*/
 
.section2{
  background-color: #111111;
  height: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.olhos1 {
  max-width: 100%;
  width: 600px;
  height: 300px;
}

.olhos2 {
  max-width: 100%;
  width: 600px;
  height: 300px;
}

h2 {
  font-weight: 200;
  font-style: italic;
  text-decoration: none;
  font-size: 40px;
  line-height: 1;
  color: #f1f1f1;
}

li {
  font-weight: 100;
  font-style: italic;
  text-decoration: none;
  font-size: 30px;
  line-height: 1.1;
  color: #f1f1f1;
}

/*============section3==============*/
.section3{

  height: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
}

.container2-section3{
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
}

.container-sectio3{
 
  height: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  
}
.img-section3{
  align-items: flex-start;
}

.h1-sectio3{
  color: #fff;
  text-align: center;
  font-size: 4vw
}
.p-section3{
  color: #fff;
  font-size: 1.4vw;
}

/*============section 4==============*/
.background-section4 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #cccccc, #d4d4d4, #dddddd, #e5e5e5, #eeeeee);
}

.container1-section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container1-section4 h2 {
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 200;
  color: #000;
}

.container1-section4 h4 {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.container3-section4{
  width: 550px;
}

/* Container das imagens da section4 */
.container2-section4 {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  padding: 30px 50px;
}

/* Configuração do tamanho das imagens todas com o mesmo padrão */
.container2-section4 img {
  width: 580px;
  padding: 10px 20px;
  object-fit: cover;
}


/*===============section5=================*/

.section5{
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.container1-section5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 30px;
}

.container2-section5 {
  display: flex;
  width: 100%;
  justify-content: center;
}

.h1-section5{
  color: #fff;
  text-align: start;
  font-size: 4vw
}

.h2-section5 {

}

.h4-section5{
  color: #fff;
  font-size: 1.6vw;
}


.container3-section5{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}


.video-section5{
  display: flex;
  width: 100%;
  align-items: center;
}

.video-section5 video{
  width: 940px;
  height: 800px;
}

/*============section6==============*/
.section6{
  background-color: #111111;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 50px;
}

.container1-section6 div{
  padding: 10px ;
}


.olhos1-section6{
  max-width: 100%;
  width: 700px;
  height: 350px;
}

.container2-section6{
  align-items: center;
  
}

.h2-section6{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: #f1f1f1;
}

.h4-1-section6{
  margin: 0;
  font-size: large;
  text-align: center;
  color: #f1f1f1;
  padding: 20px 0;
  font-size: 1.4rem;
}

.h4-2-section6{
  margin: 0;
  font-size: large;
  text-align: center;
  color: #f1f1f1;

}

.h4-3-section6{
  margin: 0;
  font-size:large;
  text-align: center;
  color: #f1f1f1;

}

/*==================section7==================*/
.section7{
  background-image: url("IMG/img-section7\ \(2\).jpg");
  background-size: cover;
  height: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
 

}

.container1-sectio7{
 
  height: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  
}

.h4-section7{
  padding-left: 45px;
  color: #fff;
  font-size: 1.6vw;
}
.img2-section7{
  width: 500px;
}

/*==================section8==================*/
.section8{
  
}


.container-video {
  width: 100%;
  height: 800px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container-video video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 800px;
}

.video-section8{
  background-size: cover;
  object-fit: cover;
  position: fixed;
  height: 800px;
  width: 100%;
}

.container2-section8{
  text-align: end;
  color: #f1f1f1;
  font-size: 19px;
  position: relative;
  background-color: red;
}

.container2-section8 h1{
  text-align: center;
  font-size: 56px;
}